.not_found_ticket_text {
    position: absolute;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    top: 50vh;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    color: rgba(255, 255, 255, 0.5);
}
.mb_hiden_tickets_text {
    position: absolute;
    font-family: 'Inter';
    font-weight: 300;
    font-size: 16px;
    text-align: center;
    top: 53vh;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    color: rgba(255, 255, 255, 0.226);
}