
.signedin {
    background-color: rgba(0, 0, 0, 0.22);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 20px 10px;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    max-width: 255px;
    margin: 0 auto;
}

.signedin__text__block {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-family: 'Inter';
    font-weight: 600;
    text-align: center;
    font-size: 16px;
}

.signedin__text__block__question {
    font-family: "Inter";
    text-align: center;
    color: rgba(162, 161, 162, 0.70);
    font-size: 16px;
}

.signedin__text__block__parg {
    font-family: "Inter";
    color: rgba(162, 161, 162, 0.50);
    max-width: 190px;
    font-size: 13px;
    font-weight: 400;
}

.signedin__button__signin {
    font-family: 'Inter';
    padding: 12px 35px;
    background-color: rgb(38, 160, 14);
    color: #FFFFFF;
    font-size: 14px;
    border-radius: 10px;
    font-weight: 600;
}