.ticket__list__user {
    flex-grow: 1; 
    margin-bottom: 100px;
}

.ticket__list__user__container {
    display: flex;
    flex-direction: column;
}

.ticket__list__user__items__container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-height: 350px;
}

.ticket__list__user__item {
    display: flex;
    background-color: rgba(0, 0, 0, 0.17);
    border: 1px solid rgba(255, 255, 255, 0.03);
    padding: 10px 10px;
    border-radius: 10px;
    align-items: center;
    gap: 10px;
}

.item__name__block {
    display: flex;
    flex-direction: column;
    gap: 3px;
    position: relative;
}



.item__name__block__title {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 14px;
    color: rgba(215, 215, 215, 0.72);
}
 
.item__name__block__title__name {
    font-family: 'Inter';
    font-weight: 300;
    font-size: 11px;
    color: rgba(155, 150, 150, 0.53);
}

.item__stick__element {
    width: 1px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.13);
}


.item__type__block {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 3px;
    position: relative;
}


.item__type__block__title {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 14px;
    color: rgba(215, 215, 215, 0.72);
}

.item__type__block__title__name {
    font-family: 'Inter';
    font-size: 11px;
}



.item__status__block {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.item__status__block__title {
    text-align: center;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 14px;
    color: rgba(215, 215, 215, 0.72);
}

.item__status__block__title__name {
    font-family: 'Inter';
    font-size: 11px;
}

.item__name__block,
.item__type__block,
.item__status__block {
    width: 300px; /* фиксированная ширина */
    text-align: center; /* центрирование текста */
}


@media(max-width: 340px) {
    .item__name__block__title {
        font-size: 12px;
    }

    .item__name__block__title__name {
        font-size: 10px;
    }


    .item__type__block__title {
        font-size: 12px;
    }

    .item__type__block__title__name {
        font-size: 10px;
    }

    .item__status__block__title {
        font-size: 12px;
    }

    .item__status__block__title__name {
        font-size: 10px;
    }
}

@media (max-width: 320px) {
    .pagination__arrow {
        padding: 0px
    }
}