.news__list__user__on__today__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.on__today__block__text {
    color: rgba(126, 126, 126, 0.35);
    font-family: 'Inter';
    font-size: 10px;
    border: 1px solid rgba(255, 255, 255, 0.03);
    background: rgba(0, 0, 0, 0.17);
    border-radius: 6px;
    padding: 6px;
}

.card__block {
    background: rgba(0, 0, 0, 0.17);
    border: 1px solid rgba(255, 255, 255, 0.03);
    border-radius: 10px;
    margin-bottom: 10px;
}

.card__block__text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.03);
}

.card__block__text__main {
    padding: 10px 0px 10px 10px;
}

.card__block__text__main span {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 14px;
    color: rgb(121, 121, 121);
}

.card__block__text__main p {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 10px;
    color: rgb(59, 15, 223);
}

.card__block__text__date {
    font-family: 'Inter';
    font-weight: 300;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.16);
    padding: 10px 10px 10px 0px;
}

.card__block__description {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 11px;
    color: rgba(255, 255, 255, 0.25);
    padding: 10px;
    max-width: 300px;
    word-wrap: break-word; 
    overflow-wrap: break-word;
}

.card__extra {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card__extra__time {
    background: rgba(0, 0, 0, 0.17);
    border: 1px solid rgba(255, 255, 255, 0.03);
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 3px;
    padding: 3px 10px;
    border-radius: 10px;
}

.card__extra__time span {
    font-family: 'Inter';
    font-size: 11px;
    color: rgba(76, 42, 203, 0.63);
    font-weight: 600;
}

.card__extra__time p {
    color: rgba(255, 255, 255, 0.24);
    font-family: 'Inter';
    font-size: 10px;
    font-weight: 400;
}

.card__extra__place {
    background-color: rgba(0, 0, 0, 0.17);
    border: 1px solid rgba(255, 255, 255, 0.03);
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 3px;
    padding: 3px 10px;
    border-radius: 10px;
}

.card__extra__place span {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 11px;
    color: rgba(76, 42, 203, 0.63);
}

.card__extra__place p {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 10px;
    color: rgba(255, 255, 255, 0.24);
}


.card__block__image__micro {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.image__micro__img {
    border-radius: 10px;
    min-width: 70px;
    height: 80px;
    object-fit: cover;
}

.image__micro__limit {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 16px;
    color: rgba(222, 222, 222, 0.66);
    padding: 7px;
    background-color: rgba(0, 0, 0, 0.17);
    border: 1px solid rgba(255, 255, 255, 0.03);
    border-radius: 5px;
}

.card__block__image__macro {
    overflow: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(36px);
    width: 100%;
    height: 100%;
    z-index: 1;
}

.image__macro__container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 30px;
}

.image__macro__btn__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn__block__close__btn {
    background-color: rgba(0, 0, 0, 0.22);
    border: 1px solid rgba(255, 255, 255, 0.03);
    padding: 8px;
    border-radius: 5px;
}

.btn__block__download__btn {
    background-color: rgba(0, 0, 0, 0.22);
    border: 1px solid rgba(255, 255, 255, 0.03);
    padding: 5px;
    border-radius: 5px;
}

.image__macro__wrapper__container {
    display: flex;
    justify-content: center;
}
word-wrap: break-word; /* для старых браузеров */
    overflow-wrap: break-word;
.image__macro__img {
    width: 290px;
    height: 400px;
    object-fit: cover;
    border-radius: 20px;
}

.image__macro__images {
    display: flex;
    gap: 20px;
    align-items: center;
    width: 250px;
    overflow-y: scroll;
}
  
.image__macro__images::-webkit-scrollbar {
    display: none; /* Скрыть скроллбар */
}
