

.profile__form__container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.profile__form__name__block {
    display: flex;
    gap: 10px;
}

.name__block__image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(196, 196, 196, 0.02);
    border: 1px solid rgba(255, 255, 255, 0.03);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    width: 109px;
    height: 110px;
}

.name__block__image__main {
    border-radius: 10px;
}

.name__block__image__img__main {
    width: 109px;
    height: 110px;
    object-fit: cover;
    border-radius: 10px;
}

.name__block__about {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.name__block__about__family__name {
    color: rgba(200, 200, 200, 0.62);
    font-family: Inter;
    font-size: 11px;
    font-weight: 600;
    background-color: rgba(0, 0, 0, 0.17);
    border: 1px solid rgba(255, 255, 255, 0.03);
    padding: 10px;
    border-radius: 10px;
    max-width: fit-content;
}

.name__block__about__status {
    color: rgba(19, 45, 209, 0.51);
    font-family: Inter;
    font-size: 10px;
    font-weight: 600;
    background-color: rgba(0, 0, 0, 0.17);
    border: 1px solid rgba(255, 255, 255, 0.03);
    padding: 10px;
    border-radius: 10px;
    max-width: fit-content;
}


.text__area__block__block {
    display: flex;
    flex-direction: column;
    position: relative;
    background: rgba(0, 0, 0, 0.17);
    border-radius: 10px;
}

.text__area__block__block__text {
    font-family: 'Inter';
    width: 100%;
    font-size: 14px;
    position: absolute;
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid rgba(255, 255, 255, 0.03);
    padding: 10px 0px 10px 10px;
    color: rgba(215, 215, 215, 0.72);
}

.text__area__block__block__text__family__name__hidden {
    position: absolute;
    right: -300px;
    transition: right 0.3s ease;
    font-family: 'Pixeloid Sans Regular';
    color: rgba(179, 175, 175, 0.49);
    font-size: 12px;
    padding-top: 10px;
    overflow: hidden;
}

.text__area__block__block__text__family__name {
    position: absolute;
    right: 10px;
    transition: right 0.3s ease;
    font-family: 'Pixeloid Sans Regular';
    color: rgba(179, 175, 175, 0.49);
    font-size: 12px;
    padding-top: 10px;
    overflow: hidden;
}

.text__area__block__block__textarea {
    background: rgba(0, 0, 0, 0.17);
    border: 1px solid rgba(255, 255, 255, 0.03);
    color: rgba(200, 200, 200, 0.53);
    font-family: Inter;
    font-size: 11px;
    font-weight: 400;
    min-height: 140px;
    padding: 50px 10px 10px 10px;
    border-radius: 10px;
    overflow: hidden;
    resize: none;
}

.text__area__block__block__placeholder__block {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
}

.text__area__block__block__placeholder {
    font-family: 'Pixeloid Sans Regular';
    font-size: 11px;
    color: rgba(200, 200, 200, 0.29);
    padding-top: 20px;
    z-index: -1;
    transform: translateY(0px);
    opacity: 1;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.text__area__block__block__placeholder__down {
    font-family: 'Pixeloid Sans Regular';
    font-size: 11px;
    color: rgba(200, 200, 200, 0.29);
    padding-top: 20px;
    z-index: -1;
    transform: translateY(20px);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
}


.profile__form__buttons__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttons__block__edit__button__btn {
    background-color: rgba(0, 0, 0, 0.17);
    border: 1px solid rgba(255, 255, 255, 0.03);
    border-radius: 10px;
    color: rgba(200, 200, 200, 0.58);
    font-family: Inter;
    font-size: 13px;
    font-weight: 600;
    padding: 10px 15px;
}

.buttons__block__logout__button__btn {
    background-color: rgba(0, 0, 0, 0.17);
    border: 1px solid rgba(255, 255, 255, 0.03);
    border-radius: 10px;
    color: rgba(255, 0, 0, 0.58);
    font-family: Inter;
    font-size: 13px;
    font-weight: 600;
    padding: 10px 45px;
}