

.news__list__user__container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.news__list__user__on__today__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.on__today__block__text {
    color: rgba(126, 126, 126, 0.35);
    font-family: Pixeloid Sans;
    font-size: 11px;
    border: 1px solid rgba(255, 255, 255, 0.03);
    background: rgba(0, 0, 0, 0.17);
    border-radius: 6px;
    padding: 6px;
}

.card__block {
    background: rgba(0, 0, 0, 0.17);
    border: 1px solid rgba(255, 255, 255, 0.03);
    border-radius: 10px;
    margin-bottom: 10px;
}

.card__block__text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.03);
}

.card__block__text__main {
    padding: 10px 0px 10px 10px;
}

.card__block__text__main span {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 14px;
    color: rgb(121, 121, 121);
}

.card__block__text__main p {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 10px;
    color: rgb(59, 15, 223);
}

.card__block__text__date {
    font-family: 'Inter';
    font-weight: 300;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.16);
    padding: 10px 10px 10px 0px;
}

.card__block__description {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 11px;
    color: rgba(255, 255, 255, 0.25);
    padding: 10px;
}

.card__extra {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card__extra__time {
    background: rgba(0, 0, 0, 0.17);
    border: 1px solid rgba(255, 255, 255, 0.03);
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 3px;
    padding: 3px 10px;
    border-radius: 10px;
}

.card__extra__time span {
    font-family: 'Inter';
    font-size: 11px;
    color: rgba(76, 42, 203, 0.63);
    font-weight: 600;
}

.card__extra__time p {
    color: rgba(255, 255, 255, 0.24);
    font-family: 'Inter';
    font-size: 10px;
    font-weight: 400;
}

.card__extra__place {
    background-color: rgba(0, 0, 0, 0.17);
    border: 1px solid rgba(255, 255, 255, 0.03);
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 3px;
    padding: 3px 10px;
    border-radius: 10px;
}

.card__extra__place span {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 11px;
    color: rgba(76, 42, 203, 0.63);
}

.card__extra__place p {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 10px;
    color: rgba(255, 255, 255, 0.24);
}

.card__extra__likes {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: rgba(0, 0, 0, 0.17);
    border: 1px solid rgba(255, 255, 255, 0.03);
    border-radius: 10px;
    padding: 5px 5px;
}

.card__extra__likes__img {
    width: 20px;
    height: 20px;
}

.card__extra__likes__digit {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 14px;
    color: rgb(165, 165, 165);
}



.news__list__user__new__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.new__block__item { 
    margin-bottom: 20px;
}

.new__block__text {
    color: rgba(126, 126, 126, 0.35);
    font-family: Pixeloid Sans;
    font-size: 11px;
    border: 1px solid rgba(255, 255, 255, 0.03);
    background: rgba(0, 0, 0, 0.17);
    border-radius: 6px;
    padding: 6px;
}

.item__block {
    background: rgba(0, 0, 0, 0.17);
    border: 1px solid rgba(255, 255, 255, 0.03);
    border-radius: 10px;
    margin-bottom: 10px;
}

.item__block__text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.03);
}

.item__block__text__main {
    padding: 10px 0px 10px 10px;
}

.item__block__text__main span {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 14px;
    color: rgb(121, 121, 121);
}

.item__block__text__main p {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 10px;
    color: rgb(59, 15, 223);
}

.item__block__text__date {
    font-family: 'Inter';
    font-weight: 300;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.16);
    padding: 10px 10px 10px 0px;
}

.item__block__description {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 11px;
    color: rgba(255, 255, 255, 0.25);
    padding: 10px;
}

.item__extra {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item__extra__time {
    background: rgba(0, 0, 0, 0.17);
    border: 1px solid rgba(255, 255, 255, 0.03);
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 3px;
    padding: 3px 10px;
    border-radius: 10px;
}

.item__extra__time span {
    font-family: 'Inter';
    font-size: 11px;
    color: rgba(76, 42, 203, 0.63);
    font-weight: 600;
}

.item__extra__time p {
    color: rgba(255, 255, 255, 0.24);
    font-family: 'Inter';
    font-size: 10px;
    font-weight: 400;
}

.item__extra__place {
    background-color: rgba(0, 0, 0, 0.17);
    border: 1px solid rgba(255, 255, 255, 0.03);
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 3px;
    padding: 3px 10px;
    border-radius: 10px;
}

.item__extra__place span {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 11px;
    color: rgba(76, 42, 203, 0.63);
}

.item__extra__place p {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 10px;
    color: rgba(255, 255, 255, 0.24);
}

.item__extra__likes {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: rgba(0, 0, 0, 0.17);
    border: 1px solid rgba(255, 255, 255, 0.03);
    border-radius: 10px;
    padding: 5px 5px;
}

.item__extra__likes__img {
    width: 20px;
    height: 20px;
}

.item__extra__likes__digit {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 14px;
    color: rgb(165, 165, 165);
}



.new__block__item__img {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.item__block__img {
    background-color: rgba(0, 0, 0, 0.17);
    border: 1px solid rgba(255, 255, 255, 0.03);
    border-radius: 10px;
    max-width: 305px;
}

.item__block__text__img {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.03);
}

.item__block__text__main__img span {
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 600;
    color: rgb(121, 121, 121);
}

.item__block__text__main__img p {
    font-family: 'Inter';
    color: rgb(15, 123, 223);
    font-size: 10px;
    font-weight: 400;
}

.item__block__text__date__img {
    color: rgba(255, 255, 255, 0.16);
    font-family: 'Inter';
    font-weight: 300;
    font-size: 12px;
}

.item__block__text__main__img {
    padding: 10px 0px 10px 10px;
}

.item__block__text__date__img {
    padding: 10px 10px 10px 0px;
}

.item__block__description__images {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;  
}

.item__block__description__img {
    color: rgba(255, 255, 255, 0.25);
    font-family: 'Inter';
    font-size: 11px;
    font-weight: 400;
}

.item__block__img__row {
    display: flex;
    align-items: center;
    gap: 20px;
} 

.img__row__row {
    display: flex;
    gap: 15px
}

.img__row__row__image {
    max-width: 70px;
    max-height: 80px;
    transform: scale(1);
    transition: all 0.3s ease;
}

.img__row__likes__digit {
    background-color: rgba(0, 0, 0, 0.17);
    border: 1px solid rgba(255, 255, 255, 0.03);
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 600;
    color: rgba(222, 222, 222, 0.66);
    padding: 10px 5px;
    border-radius: 7px;
}

.item__img__likes__block {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.item__img__likes {
    display: flex;
    align-items: center;
    gap: 3px; 
    padding: 5px 5px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.03);
    background-color: rgba(0, 0, 0, 0.17);
}

.item__img__likes__digit {
    font-family: 'Inter';
    color: rgb(165, 165, 165);
    font-size: 14px;
    font-weight: 600;
}



.img__row__row__image.stretched {
    max-width: 300px;
    min-height: 400px;
    position: absolute;
    object-fit: cover;
    transform: translate(-50%, -50%) scale(1);
    top: 50%;
    left: 50%;
    margin-top: 310px;
    border-radius: 20px;
    transition: all 0.3s ease;
}
