



.news__creation__form__back__btn {
    background-color: rgba(0, 0, 0, 0.22);
    border: 1px solid rgba(255, 255, 255, 0.03);
    padding: 5px 5px 7px 5px;
    border-radius: 5px;
}

.news__creation__form__back__btn img {
    width: 20px;
    height: 20px;
}

.form__inputs {
    
}


.form__inputs__header {
    position: relative;
}

.form__inputs__header__input {
    font-family: 'Inter';
    font-size: 12px;
    font-weight: 600;
    color: rgba(215, 215, 215, 0.52);
    background-color: rgba(0, 0, 0, 0.17);
    border: 1px solid rgba(255, 255, 255);
    padding: 10px;
}

.form__inputs__header__placeholder {
    position: absolute;
    left: 16px;
}


.form__inputs__type__block__dropdown {
    cursor: pointer;
    overflow: hidden;
 }
 
 .dropdown__btn {
     align-items: center;
     justify-content: space-between;
     min-width: 135px;
     font-family: 'Inter';
     font-weight: 600;
     color: rgba(107, 107, 107, 0.83);
     background: rgba(0, 0, 0, 0.01);
     border: 1px solid rgba(255, 255, 255, 0.03);
     padding: 15px 10px 15px 15px;
     border-radius: 10px;
     font-size: 12.5px;
 }
 
 
 .dropdown__options {
     margin-top: 5px;
     background: rgba(0, 0, 0, 0.01);
     padding: 10px;
     display: flex;
     flex-direction: column;
     font-weight: 400;
     gap: 10px;
 }
 
 .dropdown__btn__text {
     color: rgba(107, 107, 107, 0.83);
     display: flex;
     justify-content: space-between;
     align-items: baseline;
 }
 
 .dropdown__btn__text__red {
     display: flex;
     justify-content: space-between;
     align-items: baseline;
     color: rgba(255, 0, 0, 0.70);
 }
 
 .dropdown__btn__text__blue {
     display: flex;
     justify-content: space-between;
     align-items: baseline;
     color: rgba(0, 141, 255, 0.70);
 }
 
 .dropdown__btn__img {
     transform: rotate(0deg);
     transition: transform 0.3s ease;
 }
 
 .dropdown__btn__img__rotated {
     transform: rotate(180deg);
     transition: transform 0.3s ease;
 }
 
 .dropdown__options__item {
     font-family: "Inter";
     font-size: 12px;
     color: rgba(134, 138, 138, 0.59);
 }
 
 .dropdown__options__item__red {
     font-family: "Inter";
     font-size: 12px;
     color: rgba(255, 0, 0, 0.43);
 }
 
 .dropdown__options__item__blue {
     font-family: "Inter";
     font-size: 12px;
     color: rgba(0, 141, 255, 0.43);
 }
