

.header__with__line {
    position: relative;
}

.header__with__line::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: rgba(233, 233, 233, 0.1);
    position: absolute;
    bottom: 10px;
}

.header__with__line__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.header__with__line__title {
    color: #fff;
    font-family: "Pixelify Sans", sans-serif;
    font-weight: bold;
    font-size: 36px;
}

.header__with__line__letter {
    color: #42FF1D;
}

.header__with__line__description {
    color: #fff;
    font-family: "Pixelify Sans", sans-serif;
    font-weight: bold;
    font-size: 36px;
}