:root {
    --input-hover-shadow: rgba(238, 238, 238, 0.1);
    --input-hover-border: rgba(238, 238, 238, 0.3);
    --place-holder-color: rgba(107, 107, 107, 0.83);
}
.signup__form__login__validator {
    opacity: 1;
    transition: opacity 0.5s ease; /* Плавный переход */
}
  
.signup__form__hidden {
    opacity: 0;
    transition: opacity 0.5s ease; 
    pointer-events: none; /* Чтобы не было взаимодействий, когда скрыто */
}

.signup__form__form {
    margin-bottom: 70px;
}

.form__inputs {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 45px;
}

.form__inputs__name__surname {
    display: flex;
    justify-content: space-between;
}

.form__inputs__name {
    font-family: 'Inter';
    background-color: transparent;
    max-width: 135px;
    padding: 15px 10px; 
    border-radius: 10px;
    font-size: 15px;
    border: 1px solid var( --border-color);
    color: rgba(255, 255, 255, 0.693);
    transition: border 0.2s, box-shadow 0.2s ease-in;
}

.form__inputs__name:hover {
    border: 1px solid var( --input-hover-border);
    box-shadow: 0 0 10px var(--input-hover-shadow);
    transition: border 0.2s, box-shadow 0.2s ease-in;
}

.form__inputs__name__container {
    position: relative;
}
.form_input_validator_enable_animation {
    transition: color 0.2s, top 0.2s ease-in;
    font-family: 'Inter';
    font-size: 14px;
    position: absolute;
    right: 10px;
}
.form__inputs__validator {
    color: rgba(238, 219, 219, 0.40);
    top: -19px;
}
.form__inputs__validator_hide {
    color: rgba(238, 219, 219, 0.0);
    top: -14px;
}
.form__inputs__name__placeholder {
    position: absolute;
    font-family: 'Inter';
    font-size: 15px;
    top: 16px; /* начальная позиция */
    left: 10px;
    transition: 0.2s ease all;
    color: var(--place-holder-color); 
    z-index: -1;
}

.form__inputs__name__placeholder__top {
    position: absolute;
    font-family: 'Inter';
    font-size: 14px;
    top: -20px; /* начальная позиция */
    left: 10px;
    transition: 0.2s ease all;
    color: var(--place-holder-color); 
    z-index: -1;
}

.form__inputs__name:hover + .form__inputs__name__placeholder {
    top: -20px;
}


.form__inputs__surname__container {
    position: relative;
}

.form__inputs__surname {
    font-family: 'Inter';
    background-color: transparent;
    max-width: 135px;
    padding: 15px 10px;
    color: white;
    border-radius: 10px;
    font-size: 15px;
    border: 1px solid var( --border-color);
    color: rgba(255, 255, 255, 0.693);
    transition: border 0.2s, box-shadow 0.2s ease-in;

}

.form__inputs__surname__placeholder {
    position: absolute;
    font-family: 'Inter';
    font-size: 15px;
    top: 16px; /* начальная позиция */
    left: 10px;
    transition: 0.2s ease all;
    color: var(--place-holder-color); 
    z-index: -1;
}

.form__inputs__surname__placeholder__top {
    position: absolute;
    font-family: 'Inter';
    font-size: 13.5px;
    top: -20px; /* начальная позиция */
    left: 10px;
    transition: 0.2s ease all;
    color: var(--place-holder-color); 
    z-index: -1;
}

.form__inputs__surname:hover {
    border: 1px solid var( --input-hover-border);
    box-shadow: 0 0 10px var(--input-hover-shadow);
    transition: border 0.2s, box-shadow 0.2s ease-in;
}

.form__inputs__surname:hover + .form__inputs__surname__placeholder {
    top: -20px;
}   

.form__inputs__middlename__login {
    display: flex;
    justify-content: space-between;
}

.form__inputs__middlename__container {
    position: relative;
}

.form__inputs__middlename {
    width: 100%;
    font-family: 'Inter';
    background-color: transparent;
    padding: 15px 10px;
    color: white;
    max-width: 135px;
    border-radius: 10px;
    font-size: 15px;
    transition: border 0.2s, box-shadow 0.2s ease-in;
    border: 1px solid var( --border-color);
    color: rgba(255, 255, 255, 0.693);

}

.form__inputs__middlename__placeholder {
    position: absolute;
    font-family: 'Inter';
    font-size: 15px;
    top: 16px; /* начальная позиция */
    left: 10px;
    transition: 0.2s ease all;
    color: var(--place-holder-color); 
    z-index: -1;
}

.form__inputs__middlename__placeholder__top {
    position: absolute;
    font-family: 'Inter';
    font-size: 13.5px;
    top: -20px; /* начальная позиция */
    left: 10px;
    transition: 0.2s ease all;
    color: var(--place-holder-color); 
    z-index: -1;
}


.form__inputs__middlename:hover {
    border: 1px solid var( --input-hover-border);
    box-shadow: 0 0 10px var(--input-hover-shadow);
    transition: border 0.2s, box-shadow 0.2s ease-in;
}

.form__inputs__middlename:hover + .form__inputs__middlename__placeholder {
    top: -20px;
}

.form__inputs__login__container {
    position: relative;
}

.form__inputs__login {
    width: 100%;
    font-family: 'Inter';
    background-color: transparent;
    border: 1px solid var( --border-color);
    padding: 15px 10px;
    color: white;
    max-width: 135px;
    border-radius: 10px;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.693);
    transition: border 0.2s, box-shadow 0.2s ease-in;
}

.form__inputs__login__placeholder {
    position: absolute;
    font-family: 'Inter';
    font-size: 15px;
    top: 16px; /* начальная позиция */
    left: 10px;
    transition: 0.2s ease all;
    color: var(--place-holder-color); 
    z-index: -1;
}

.form__inputs__login__placeholder__top {
    position: absolute;
    font-family: 'Inter';
    font-size: 14px;
    top: -20px; /* начальная позиция */
    left: 10px;
    transition: 0.2s ease all;
    color: var(--place-holder-color); 
    z-index: -1;
}

.form__inputs__login:hover {
    border: 1px solid var( --input-hover-border);
    box-shadow: 0 0 10px var(--input-hover-shadow);
    transition: border 0.2s, box-shadow 0.2s ease-in;
}

.form__inputs__login:hover + .form__inputs__login__placeholder {
    top: -20px;
}

.form__inputs__mail__container {
    position: relative;
}

.form__inputs__mail {
    width: 100%;
    font-family: 'Inter';
    background-color: transparent;
    border: 1px solid var( --border-color);
    padding: 15px 10px;
    color: white;
    border-radius: 10px;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.693);
    transition: border 0.2s, box-shadow 0.2s ease-in;
}

.form__inputs__mail__placeholder {
    position: absolute;
    font-family: 'Inter';
    font-size: 15px;
    top: 16px; /* начальная позиция */
    left: 10px;
    transition: 0.2s ease all;
    color: var(--place-holder-color); 
    z-index: -1;
}

.form__inputs__mail__placeholder__top {
    position: absolute;
    font-family: 'Inter';
    font-size: 14px;
    top: -20px; /* начальная позиция */
    left: 10px;
    transition: 0.2s ease all;
    color: var(--place-holder-color); 
    z-index: -1;
}

.form__inputs__mail:hover {
    border: 1px solid var( --input-hover-border);
    box-shadow: 0 0 10px var(--input-hover-shadow);
    transition: border 0.2s, box-shadow 0.2s ease-in;
}

.form__inputs__mail:hover + .form__inputs__mail__placeholder {
    top: -20px;
}


.form__inputs__password__block {
    position: relative;
    display: flex;
    align-items: center;
}

.form__inputs__password {
    width: 100%;
    font-family: 'Inter';
    background-color: transparent;
      border: 1px solid var( --border-color);
    padding: 15px 50px 15px 10px;
    color: white;
    border-radius: 10px;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.693);
    transition: border 0.2s, box-shadow 0.2s ease-in;
}

.form__inputs__password__placeholder {
    position: absolute;
    font-family: 'Inter';
    font-size: 15px;
    top: 16px; /* начальная позиция */
    left: 10px;
    transition: 0.2s ease all;
    color: var(--place-holder-color); 
    z-index: -1;
}

.form__inputs__password__placeholder__top {
    position: absolute;
    font-family: 'Inter';
    font-size: 14px;
    top: -20px; /* начальная позиция */
    left: 10px;
    transition: 0.2s ease all;
    color: var(--place-holder-color); 
    z-index: -1;
}

.form__inputs__password:hover {
    border: 1px solid var( --input-hover-border);
    box-shadow: 0 0 10px var(--input-hover-shadow);
    transition: border 0.2s, box-shadow 0.2s ease-in;
}

.form__inputs__password:hover + .form__inputs__password__placeholder {
    top: -20px;
}

.form__inputs__icon {
    position: absolute;
    right: 10px;
    cursor: pointer;
}

.form__inputs__confirmation__password__block {
    position: relative;
    display: flex;
    align-items: center;
}

.form__inputs__confirmation__password {
    width: 100%;
    font-family: 'Inter';
    background-color: transparent;
    border: 1px solid var( --border-color);
    padding: 15px 50px 15px 10px;
    color: white;
    border-radius: 10px;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.693);
    transition: border 0.2s, box-shadow 0.2s ease-in;
}

.form__inputs__confirmation__password__placeholder {
    position: absolute;
    font-family: 'Inter';
    font-size: 15px;
    top: 16px; /* начальная позиция */
    left: 10px;
    transition: 0.2s ease all;
    color: var(--place-holder-color); 
    z-index: -1;
}

.form__inputs__confirmation__password__placeholder__top {
    position: absolute;
    font-family: 'Inter';
    font-size: 14px;
    top: -20px; /* начальная позиция */
    left: 10px;
    transition: 0.2s ease all;
    color: var(--place-holder-color); 
    z-index: -1;
}

.form__inputs__confirmation__password:hover {
    border: 1px solid var( --input-hover-border);
    box-shadow: 0 0 10px var(--input-hover-shadow);
    transition: border 0.2s, box-shadow 0.2s ease-in;
}

.form__inputs__confirmation__password:hover + .form__inputs__confirmation__password__placeholder {
    top: -20px;
}

.form__confirmation__inputs__icon {
    position: absolute;
    right: 10px;
    cursor: pointer;
}


.form__signup__btn__block {
    display: flex;
    justify-content: center;
}

.form__signup__btn {
    font-family: 'Inter';
    padding: 20px 40px;
    border-radius: 10px;
    font-size: 16px;
    background-color: rgb(28, 5, 81);
    color: #B3AFAF;
    transition: background-color 0.3s ease-in;
    box-shadow: 0px 0px 10px rgba(28, 5, 81, 1);
    font-weight: 600;
}

.form__signup__btn__black {
    font-family: 'Inter';
    padding: 20px 40px;
    border-radius: 10px;
    font-size: 16px;
    background-color: rgba(13, 13, 13, 0.28);
    color: #B3AFAF;
    transition: background-color 0.3s ease-in;
    border: 1px solid var(--border-color);
    box-shadow: 0px 0px 10px rgba(13, 13, 13, 0.28);
    font-weight: 600;
}