.ticket__list__admin {
    margin-bottom: 130px;
}

.ticket__list__admin__container {
    max-width: 345px;
    padding: 0px 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.ticket__list__admin__items__container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-height: 350px;
}

.ticket__list__admin__loader__position {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 140px;
}

.ticket__list__admin__item {
    display: flex;
    background-color: rgba(0, 0, 0, 0.17);
    border: 1px solid rgba(255, 255, 255, 0.03);
    padding: 10px 10px;
    border-radius: 10px;
    align-items: center;
    gap: 10px;
}

.item__name__block {
    display: flex;
    flex-direction: column;
    gap: 3px;
    position: relative;
}



.item__name__block__title {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 14px;
    color: rgba(215, 215, 215, 0.72);
}
 
.item__name__block__title__name {
    font-family: 'Inter';
    font-weight: 300;
    font-size: 11px;
    color: rgba(155, 150, 150, 0.53);
}

.item__stick__element {
    width: 1px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.13);
}


.item__type__block {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 3px;
    position: relative;
}


.item__type__block__title {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 14px;
    color: rgba(215, 215, 215, 0.72);
}

.item__type__block__title__name__complaint {
    font-family: 'Inter';
    font-size: 11px;
    color: rgba(255, 0, 0, 0.70);
}

.item__type__block__title__name__offer {
    font-family: 'Inter';
    font-size: 11px;
    color: rgba(0, 141, 255, 0.70);
}



.item__status__block {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.item__status__block__title {
    text-align: center;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 14px;
    color: rgba(215, 215, 215, 0.72);
}

.item__status__block__title__name__rejected {
    font-family: 'Inter';
    font-size: 11px;
    color: rgba(235, 4, 4, 0.69);
}

.item__status__block__title__name__expectation {
    font-family: 'Inter';
    font-size: 11px;
    color: rgba(234, 237, 43, 0.69);
}

.item__status__block__title__name__inProgress {
    font-family: 'Inter';
    font-size: 11px;
    color: rgba(4, 131, 235, 0.69);
}

.item__status__block__title__name__done {
    font-family: 'Inter';
    font-size: 11px;
    color: rgba(4, 235, 36, 0.69);
}

.item__name__block,
.item__type__block,
.item__status__block {
    width: 300px; /* фиксированная ширина */
    text-align: center; /* центрирование текста */
}





@media(max-width: 340px) {
    .item__name__block__title {
        font-size: 12px;
    }

    .item__name__block__title__name {
        font-size: 9px;
    }


    .item__type__block__title {
        font-size: 12px;
    }

    .item__type__block__title__name {
        font-size: 9px;
    }

    .item__status__block__title {
        font-size: 12px;
    }

    .item__status__block__title__name {
        font-size: 9px;
    }
}


