

.ticket__watch__form__user__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.ticket__watch__form__user__position {
    position: relative;
    display: flex;
    justify-content: center;
    bottom: 140px;
}

.ticket__watch__form__user__headers__block {
    display: flex;
    justify-content: space-between;
}


.headers__block__title__block {
    display: flex;
    flex-direction: column;
    gap: 3px;
    background-color: rgba(0, 0, 0, 0.17);
    border: 1px solid var(--border-color);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

.title__block__header {
    font-family: 'Inter';
    color: rgba(215, 215, 215, 0.72);
    font-size: 14px;
    font-weight: 600;
}

.title__block__parg {
    font-family: 'Inter';
    color: rgba(155, 150, 150, 0.53);
    font-size: 12px;
    font-weight: 400;
}


.headers__block__type__block {
    display: flex;
    flex-direction: column;
    gap: 3px;
    background-color: rgba(0, 0, 0, 0.17);
    border: 1px solid var(--border-color);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

.type__block__header {
    font-family: 'Inter';
    color: rgba(215, 215, 215, 0.72);
    font-size: 14px;
    font-weight: 600;
}

.type__block__parg {
    font-family: 'Inter';
    font-size: 12px;
    font-weight: 400;
}


.headers__block__status__block {
    display: flex;
    flex-direction: column;
    gap: 3px;
    background-color: rgba(0, 0, 0, 0.17);
    border: 1px solid var(--border-color);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

.status__block__header {
    font-family: 'Inter';
    color: rgba(215, 215, 215, 0.72);
    font-size: 14px;
    font-weight: 600;
}

.status__block__parg {
    font-family: 'Inter';
    font-size: 12px;
    font-weight: 400;
}

.ticket__watch__form__user__desc__block {
    background-color: rgba(0, 0, 0, 0.17);
    border: 1px solid var(--border-color);
    border-radius: 10px;
}

.desc__block__header {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding: 10px 0px;
    font-family: 'Inter';
    font-size: 14px;
    color: rgba(215, 215, 215, 0.72);
    font-weight: 600;
}

.desc__block__description {
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: rgba(200, 200, 200, 0.53);
    padding: 10px;
    word-break: break-all;
}

.ticket__watch__form__user__image__block {
    position: relative;
    border-radius: 10px;
}


.image__block__img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.image__block__text {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -5px;
    font-family: 'Inter';
    font-size: 14px;
    color: rgba(215, 215, 215, 0.72);
    background-color: rgba(0, 0, 0, 0.8);
    min-height: 45px;
    backdrop-filter: blur(11px);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-weight: 600;
}



.ticket__watch__form__user__comment__block {
    background-color: rgba(0, 0, 0, 0.17);
    border: 1px solid var(--border-color);
    border-radius: 10px;
}

.comment__block__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.comment__block__header__title {
    font-family: 'Inter';
    font-size: 14px;
    color: rgba(215, 215, 215, 0.72);
}

.comment__block__header__author__name {
    font-family: 'Inter';
    font-size: 12px;
    color: rgba(179, 175, 175, 0.49);
}

.comment__block__response {
    font-family: 'Inter';
    font-size: 12px;
    color: rgba(200, 200, 200, 0.53);
    padding: 10px;
}


.ticket__watch__form__user__back__button__block {
    display: flex;
    justify-content: center;
}

.back__button__block__btn {
    font-family: 'Inter';
    font-size: 16px;
    color: rgb(179, 175, 175);
    background-color: rgb(81, 5, 5);
    box-shadow: 0px 0px 10px rgb(81, 5, 5);
    padding: 20px 45px;
    border-radius: 10px;
    font-weight: 600;
}