.ticket__watch__form__admin__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.ticket__watch__form__admin__loader__position {
    position: relative;
    display: flex;
    justify-content: center;
    bottom: 140px;
}

.ticket__watch__form__admin__fullname__block,
.ticket__watch__form__admin__headers__block {
    display: flex;
    justify-content: space-between;
}

.fullname__block__surname__block,
.fullname__block__name__block,
.fullname__block__patronymic__block,
.headers__block__title__block,
.headers__block__type__block,
.headers__block__status__block {
    display: flex;
    flex-direction: column;
    gap: 3px;
    background-color: rgba(0, 0, 0, 0.17);
    border: 1px solid rgba(255, 255, 255, 0.03);
    border-radius: 10px;
    padding: 10px 5px;
    text-align: center;
    width: 90px; /* Установите максимальную ширину */
    overflow: hidden; /* Скрыть переполнение */
    text-overflow: ellipsis; /* Добавить троеточие */
    white-space: nowrap; /* Запретить перенос строк */
}

.surname__block__header,
.name__block__header,
.patronymic__block__header,
.title__block__header,
.type__block__header,
.status__block__header {
    font-family: 'Inter';
    color: rgba(215, 215, 215, 0.72);
    font-size: 14px;
}

.surname__block__parg,
.name__block__parg,
.patronymic__block__parg,
.title__block__parg{
    font-family: 'Inter';
    color: rgba(155, 150, 150, 0.53);
    font-size: 11px;
}

.status__block__parg__rejected {
    font-family: 'Inter';
    color: rgba(235, 4, 4, 0.69);
    font-size: 11px;
}

.status__block__parg__expectation {
    font-family: 'Inter';
    color: rgba(234, 237, 43, 0.69);
    font-size: 11px;
}

.status__block__parg__inProgress {
    font-family: 'Inter';
    color: rgba(43, 103, 237, 0.69);
    font-size: 11px;
}

.status__block__parg__done {
    font-family: 'Inter';
    color: rgba(4, 235, 36, 0.69);
    font-size: 11px;
}

.type__block__parg__red {
    font-family: 'Inter';
    color: rgba(255, 0, 0, 0.70);
    font-size: 11px;
}

.type__block__parg__blue {
    font-family: 'Inter';
    color: rgba(0, 141, 255, 0.70);
    font-size: 11px;
}

.surname__block__parg,
.name__block__parg,
.patronymic__block__parg {
    font-size: 11px;    
    color: rgba(139, 136, 136, 0.53);
}


.ticket__watch__form__admin__desc__block {
    background-color: rgba(0, 0, 0, 0.17);
    border: 1px solid rgba(255, 255, 255, 0.03);
    border-radius: 10px;
}

.desc__block__header {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding: 10px 0px;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 14px;
    color: rgba(215, 215, 215, 0.72);
}

.desc__block__description {
    font-family: 'Inter';
    font-size: 11px;
    font-weight: 400;
    color: rgba(200, 200, 200, 0.53);
    padding: 10px;
    word-wrap: break-word; /* для старых браузеров */
    overflow-wrap: break-word;
}

.ticket__watch__form__admin__image__block {
    position: relative;
    border-radius: 10px;
}


.image__block__img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.image__block__text {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -5px;
    left: 0px;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 14px;
    color: rgba(215, 215, 215, 0.72);
    background-color: rgba(0, 0, 0, 0.8);
    min-height: 45px;
    backdrop-filter: blur(11px);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


.ticket__watch__form__admin__status__dropdown {
    display: flex;
    justify-content: center;
}

.status__dropdown__btn {
    background: rgba(0, 0, 0, 0.17);
    border: 1px solid rgba(255, 255, 255, 0.03);
    padding: 10px;
    border-radius: 10px;
    overflow: hidden;
}

.status__dropdown__btn__text {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 13px;
    color: rgba(215, 215, 215, 0.72);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.status__dropdown__btn__text__img {
    transform: rotate(0deg);
    transition: transform 0.3s ease-in;
}

.status__dropdown__btn__text__img__rotated {
    transform: rotate(180deg);
    transition: transform 0.3s ease-in;
}

.status__dropdown__options {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px
}

.dropdown__options__item__red {
    font-family: 'Inter';
    font-size: 12px;
    color: rgba(173, 11, 11, 0.69);
}

.dropdown__options__item__blue {
    font-family: 'Inter';
    font-size: 12px;
    color: rgba(43, 103, 237, 0.69);
}

.dropdown__options__item__green {
    font-family: 'Inter';
    font-size: 12px;
    color: rgba(4, 235, 36, 0.69);
}

.dropdown__options__item__yellow {
    font-family: 'Inter';
    font-size: 12px;
    color: rgba(234, 237, 43, 0.69);
}

.dropdown__options__item {
    font-family: 'Inter';
    font-size: 10px;
    color: rgba(160, 163, 163, 0.59);
}


.text__area__block__block {
    display: flex;
    flex-direction: column;
    position: relative;
    background: rgba(0, 0, 0, 0.17);
    border-radius: 10px;
    overflow: hidden;
}


.text__area__block__block__text {
    font-family: 'Inter';
    font-weight: 600;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding: 10px 0px;
    color: rgba(215, 215, 215, 0.72);
}

.text__area__block__block__text__span {
    transform: translateX(0px);
    transition: transform 0.3s ease;
}

.text__area__block__block__text__left__span {
    transform: translateX(-70px);
    transition: transform 0.3s ease;
}

.text__area__block__block__text__family__name__hidden {
    position: absolute;
    right: -300px;
    transition: right 0.3s ease;
    font-family: 'Inter';
    color: rgba(179, 175, 175, 0.49);
    font-size: 12px;
    padding-top: 10px;
    overflow: hidden;
}

.text__area__block__block__text__family__name {
    position: absolute;
    right: 10px;
    transition: right 0.3s ease;
    font-family: 'Inter';
    color: rgba(179, 175, 175, 0.49);
    font-size: 12px;
    padding-top: 10px;
    overflow: hidden;
}

.text__area__block__block__textarea {
    background: rgba(0, 0, 0, 0.17);
    border: 1px solid rgba(255, 255, 255, 0.03);
    color: rgba(200, 200, 200, 0.29);
    min-height: 140px;
    padding: 50px 10px 10px 10px;
    border-radius: 10px;
    font-family: 'Inter';
    font-size: 11px;
    overflow: hidden;
    resize: none;
}

.text__area__block__block__placeholder__block {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
}

.text__area__block__block__placeholder {
    font-family: 'Inter';
    font-size: 11px;
    color: rgba(200, 200, 200, 0.29);
    padding-top: 20px;
    z-index: -1;
    transform: translateY(0px);
    opacity: 1;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.text__area__block__block__placeholder__down {
    font-family: 'Inter';
    font-size: 11px;
    color: rgba(200, 200, 200, 0.29);
    padding-top: 20px;
    z-index: -1;
    transform: translateY(20px);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
}


.ticket__watch__form__admin__btn__block {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.btn__block__back__btn {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 17px;
    color: rgb(179, 175, 175);
    background-color: rgb(81, 5, 5);
    border-radius: 10px;
    padding: 20px 30px;
}

.btn__block__save__btn {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 17px;
    color: rgb(179, 175, 175);
    background-color: rgb(21, 5, 81);
    border-radius: 10px;
    padding: 10px;
}