
.search__and__sort__container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.search__and__sort__search__container {
    position: relative;
}

.search__container__search {
    font-family: 'Inter';
    
    background-color: rgba(0, 0, 0, 0.17);
    border: 1px solid var(--border-color);
    border-radius: 10px;
    color: rgba(215, 215, 215, 0.72);
    padding: 10px;
    transition: border 0.3s ease-in;
}

.search__container__search__stretched {
    font-family: 'Inter';
    background-color: rgba(0, 0, 0, 0.17);
    border: 1px solid var(--input-hover-border);
    box-shadow: 0 0 10px var(--input-hover-shadow);
    transition: border 0.3s ease-in;
    border-radius: 10px;
    color: rgba(215, 215, 215, 0.72);
    padding: 10px;
    height: 50px;
}

.search__container__placeholder {
    font-family: 'Inter';
    font-weight: 600;

    color: rgba(215, 215, 215, 0.72);
    position: absolute;
    top: 10px;
    left: 20px;
    font-size: 14px;
    z-index: -1;
    transition: top 0.3s ease-in, left 0.3s ease-in;
}


.search__container__search__stretched + .search__container__placeholder {
    
    top: 16px;
    left: 14px;
}

.search__container__placeholder__top {
    font-family: 'Inter';
    
    color: rgba(215, 215, 215, 0.72);
    position: absolute;
    top: -20px;
    left: 15px;
    font-size: 14px;
    z-index: -1;
    transition: top 0.3s ease-in, left 0.3s ease-in;
}



.sort__container__dropdown__none {
    display: none;
}

.dropdown__btn {
    background-color: rgba(0, 0, 0, 0.17);
    border: 1px solid var(--border-color);
    border-radius: 10px;
    padding: 10px;
    overflow: hidden;
}

.dropdown__btn__text {
    text-align: center;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 14px;    
    color: rgba(215, 215, 215, 0.60);
}

.dropdown__options {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap: 7px;
}

.dropdown__options__item {
    font-family: 'Inter';
    font-size: 11px;
    color: rgba(215, 215, 215, 0.60);
}

.dropdown__options__item__red {
    font-family: 'Inter';
    font-size: 13px;
    font-weight: 600;
    color: rgb(253, 23, 23);
}